body{
    background-size: cover;
}

.note{
    font-size: 17px;
    color: blue;
}

.heading{
  font-size: 23px;
  width: 100%;
  margin: 0px;
}

#song_name{
    width: 130px;
  	font-size: 25px;
}

canvas{
    border:5px solid white;
    border-radius:20px;
}